html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  grid-template-areas:
    "header header"
    "header header"
    "main main";
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  grid-area: header;
}

.pano {
  grid-column: 1/-1;
  grid-row: 1/ span 2;
}

h1 {
  grid-column: 1;
  grid-row: 2;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

h1 img {
  width: 14rem;
}

header nav {
  grid-column: 2;
  grid-row: 1;
  z-index: 100;
  font-family: "Patua One", sans-serif;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 2rem;
  margin: 0;
}

header nav a {
  color: #fff;
}

main {
  display: contents;
  grid-area: main;
}

main figure:last-child {
  grid-column: 2;
  grid-row: 3;
}

main figure {
  margin: 0;
}

h2 {
  color: #30658d;
  margin-bottom: 0;
  font-family: "Patua One", sans-serif;
}

p {
  margin-top: 0;
}
