html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.pano {
  grid-column: 1/-1;
  grid-row: 1/ span 2;
}

h1 {
  grid-column: 1;
  grid-row: 2;
  z-index: 100;
}

h1 img {
  padding: 1rem;
}
