html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  font-family: "Patua One";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.pano {
  grid-column: 1/-1;
  grid-row: 1/ span 2;
}

h1 {
  grid-column: 1;
  grid-row: 2;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

h1 img {
  width: 14rem;
}

header nav {
  grid-column: 2;
  grid-row: 1;
  z-index: 100;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 2rem;
  margin: 0;
}

header nav ul li a {
  color: #fff;
}
